// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.comments {
	.comment {
		background: white;
		padding-top: auto;
		padding: 20px;
		&:first-child {
				padding-top: 20px;
			}
		}
	.admin {
		display: none;
	}
	.hover {
		background: #eee;
		.admin {
			display: inline;
		}
	}
}
